@define-color background-color #1e1e2e;
@define-color border-color #cdd6f4;
@define-color label #cdd6f4;
@define-color image #cdd6f4;
@define-color progress #89b4fa;


window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
